# Hugo
/public/
/resources/_gen/
/exampleSite/public/
/exampleSite/resources/
jsconfig.json
hugo_stats.json
.hugo_build.lock

# System
.DS_Store
.tmp*

# Custom
!.vscode
node_modules

# vscode-front-matter
frontmatter.json
.frontmatter
