/* scroll-to-top */
.icon-arrow-up::after {
	--icon-up: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8v12z"/></svg>');
	content: '';
	width: 1rem;
	height: 1rem;
	-webkit-mask: var(--icon-up) center/1.4rem 1.4rem no-repeat;
	mask: var(--icon-up) center/1.4rem 1.4rem no-repeat;
	background-color: var(--color-neutral-800);
}

html[data-theme='dark'] .icon-arrow-up::after {
	background-color: var(--color-neutral-200);
}
