<div class="flex items-center gap-5 md:hidden">
	{{- if site.Params.searchEnabled -}}
		<button
			id="pf-custom-icon-mobile"
			type="button"
			aria-label="{{ i18n `nav.search` | default `Search` }}"
			class="text-foreground hover:text-link-hover">
			{{- partialCached "components/icon.html" "search" "icon-search" -}}
		</button>
	{{- end -}}

	{{- if site.Params.themeLightDarkSwitcher | default true -}}
		<button
			id="mobile-appearance-switcher"
			aria-label="{{ i18n `nav.toggle_dark_mode` | default `Toggle dark mode` }}"
			type="button"
			class="text-foreground hover:text-link-hover transition-colors">
			<span class="block dark:hidden">
				{{- partialCached "components/icon.html" "sun-light" "icon-sun-light" -}}
			</span>
			<span class="hidden dark:block">
				{{- partialCached "components/icon.html" "half-moon" "icon-half-moon" -}}
			</span>
		</button>
	{{- end -}}


	<button
		id="mobile-menu-toggle"
		aria-label="{{ i18n `nav.toggle_mobile_menu` | default `Toggle mobile menu` }}"
		class="text-foreground hover:text-link-hover py-4 transition-colors">
		{{- partialCached "components/icon.html" "menu" "icon-menu" -}}
	</button>
</div>
