<div class="flex items-center gap-5 md:hidden">
	{{- if site.Params.searchEnabled -}}
		<button
			id="pf-custom-icon-mobile"
			aria-label="{{ i18n `nav.search` | default `Search` }}"
			title="{{ i18n `nav.search` | default `Search` }}"
			class="text-foreground hover:text-link-hover">
			{{- partialCached "components/icon.html" "search" "icon-search" -}}
		</button>
	{{- end -}}


	<button
		id="mobile-menu-toggle"
		aria-label="{{ i18n `nav.toggle_mobile_menu` | default `Toggle mobile menu` }}"
		title="{{ i18n `nav.toggle_mobile_menu` | default `Toggle mobile menu` }}"
		class="text-foreground hover:text-link-hover py-4 transition-colors">
		{{- partialCached "components/icon.html" "menu" "icon-menu" -}}
	</button>
</div>
