{{- $cdnDomains := slice -}}
{{- range hugo.Data.cdn -}}
	{{- with .src -}}
		{{- $cdnDomains = $cdnDomains | append ((urls.Parse .).Host) -}}
	{{- end -}}
	{{- with .js -}}
		{{- with .src -}}
			{{- $cdnDomains = $cdnDomains | append ((urls.Parse .).Host) -}}
		{{- end -}}
	{{- end -}}
	{{- with .css -}}
		{{- with .src -}}
			{{- $cdnDomains = $cdnDomains | append ((urls.Parse .).Host) -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

{{- $pages := slice -}}
{{- range hugo.Sites -}}
	{{- if not (.Dimension "version").IsDefault }}{{ continue }}{{ end -}}
	{{- range .Pages -}}
		{{- $pages = $pages | append .RelPermalink -}}
	{{- end -}}
{{- end -}}

{{- $precacheAssets := slice -}}

{{- if .Site.Params.sw.precache.assets -}}
	{{- $precacheAssets = $precacheAssets | append (hugo.Store.Get "swPrecache") -}}
{{- end -}}

{
	"version": "{{ now.UnixNano | xxhash | last 6 }}",
	"cdnDomains": {{ $cdnDomains | uniq | jsonify }},
	"precacheHtml": {{ if .Site.Params.sw.precache.html }}true{{ else }}false{{ end }},
	"precacheAssets": {{ $precacheAssets | jsonify }},
	"pages": {{ $pages | jsonify }}
}
