{{- $maps := partialCached "impls/hooks/admonition-maps.html" "foo" -}}
{{- $typeMap := $maps.typeMap -}}
{{- $iconMap := $maps.iconMap -}}
{{- $iconName := .Attributes.icon | default (index $iconMap .AlertType) | default "info-circle" -}}
{{- $admonitionTitle := .AlertTitle | default ((i18n (printf "admonition.%s" .AlertType) | default .AlertType) | title) -}}

{{- $headerClass := "flex items-center gap-2 px-4 py-1 font-bold admonition-header" -}}
{{- $contentClass := "admonition-content px-4 py-1 text-base leading-relaxed" -}}

{{- $isCollapsible := in (slice "+" "-") .AlertSign -}}
{{- $s := slice "icon" -}}
{{- if $isCollapsible -}}
	<details
		data-admonition-wrapper
		data-type="{{ .AlertType }}"
		{{- if eq .AlertSign "+" }}{{ printf " open" | safeHTMLAttr }}{{ end }}
		{{- range $k, $v := .Attributes -}}
			{{- if (in $s $k) -}}
				{{- continue -}}
			{{- end -}}
			{{- if $v -}}
				{{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
			{{- end -}}
		{{- end -}}>
		<summary class="{{ $headerClass }} cursor-pointer">
			<span class="flex h-5 w-5 shrink-0 items-center justify-center text-lg" aria-hidden="true">
				{{- partial "components/icon.html" $iconName -}}
			</span>
			<span class="flex grow items-center gap-1">
				{{ $admonitionTitle }}
				<span
					class="admonition-chevron flex h-5 w-5 items-center justify-center print:hidden"
					aria-hidden="true">
					{{- partial "components/icon.html" "nav-arrow-down" -}}
				</span>
			</span>
		</summary>
		{{- if .Text -}}
			<div class="{{ $contentClass }}">
				{{- .Text | safeHTML -}}
			</div>
		{{- end -}}
	</details>
{{- else -}}
	<div
		data-admonition-wrapper
		data-type="{{ .AlertType }}"
		{{- range $k, $v := .Attributes -}}
			{{- if (in $s $k) -}}
				{{- continue -}}
			{{- end -}}
			{{- if $v -}}
				{{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
			{{- end -}}
		{{- end -}}>
		<div class="{{ $headerClass }}">
			<div class="flex h-5 w-5 shrink-0 items-center justify-center text-lg" aria-hidden="true">
				{{- partial "components/icon.html" $iconName -}}
			</div>
			<div class="grow">
				{{ $admonitionTitle }}
			</div>
		</div>
		{{- if .Text -}}
			<div class="{{ $contentClass }}">
				{{- .Text | safeHTML -}}
			</div>
		{{- end -}}
	</div>
{{- end -}}
