<nav aria-label="{{ i18n `nav.breadcrumb` | default `Breadcrumb navigation` }}" class="flex items-baseline">
	<span aria-hidden="true" class="shrink-0">&#x276F;&nbsp;</span>
	<ol class="m-0 list-none pl-0">
		{{- range $n, $page := .Ancestors.Reverse -}}
			{{- if eq $n 0 }}{{ continue }}{{ end -}}
			{{- if eq .Params.build.render "never" -}}
				<li class="inline">
					<span>{{ $page.Title }}</span>
					<span aria-hidden="true">/</span>
				</li>
			{{- else -}}
				<li class="inline">
					<a class="hover:text-link-hover" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
					<span aria-hidden="true">/</span>
				</li>
			{{- end -}}
		{{- end -}}
		<li class="inline">
			<span aria-current="page">{{ .Title }}</span>
		</li>
	</ol>
</nav>
