@plugin '@tailwindcss/typography';
@utility prose {
	/* Body text */
	--tw-prose-body: var(--color-foreground);

	/* Headings*/
	--tw-prose-headings: var(--color-foreground);

	/* Lead paragraph */
	--tw-prose-lead: var(--color-neutral-700);

	/* Links */
	--tw-prose-links: var(--color-link-hover);

	/* Bold text */
	--tw-prose-bold: inherit;

	/* List counters / bullets */
	--tw-prose-counters: var(--muted-foreground);
	--tw-prose-bullets: var(--muted-foreground);

	/* Blockquotes text and border */
	--tw-prose-quotes: var(--color-neutral-700);
	--tw-prose-quote-borders: var(--color-accent-400);

	/* Image captions */
	--tw-prose-captions: var(--muted-foreground);

	/* Inline code */
	--tw-prose-code: var(--color-neutral-800);

	/* Code blocks */
	--tw-prose-pre-code: inherit;
	--tw-prose-pre-bg: var(--color-neutral-900);

	/* Table borders */
	--tw-prose-th-borders: var(--color-neutral-600);
	--tw-prose-td-borders: var(--color-neutral-300);

	--tw-prose-hr: var(--color-neutral-300);
	--tw-prose-kbd: var(--color-neutral-900);
	--tw-prose-kbd-shadows: oklch(from var(--color-neutral-950) l c h / 0.25);

	/* Dark mode */
	--tw-prose-invert-body: var(--color-foreground);
	--tw-prose-invert-headings: var(--color-foreground);
	--tw-prose-invert-lead: var(--color-neutral-300);
	--tw-prose-invert-links: var(--color-link-hover);
	--tw-prose-invert-bold: inherit;
	--tw-prose-invert-counters: var(--muted-foreground);
	--tw-prose-invert-bullets: var(--muted-foreground);
	--tw-prose-invert-quotes: var(--color-neutral-300);
	--tw-prose-invert-quote-borders: var(--color-accent-600);
	--tw-prose-invert-captions: var(--muted-foreground);
	--tw-prose-invert-code: var(--color-neutral-200);
	--tw-prose-invert-pre-code: var(--color-neutral-200);
	--tw-prose-invert-pre-bg: var(--color-neutral-900);
	--tw-prose-invert-hr: var(--color-neutral-700);
	--tw-prose-invert-kbd: var(--color-neutral-950);
	--tw-prose-invert-kbd-shadows: oklch(
		from var(--color-neutral-50) l c h / 0.15
	);
	--tw-prose-invert-th-borders: var(--color-neutral-300);
	--tw-prose-invert-td-borders: var(--color-neutral-600);

	& kbd {
		padding: 0.1rem 0.4rem;
		border-radius: 0.25rem;
		font-size: 0.9rem;
		font-weight: 600;
	}

	& mark {
		/* not customize */
	}

	& :not(pre) > code {
		background-color: var(--color-accent-50);
		font-weight: normal;
		padding: 1.6px;
		padding-inline: 4px;
		border-radius: 0.5em;
		border: 1px solid var(--color-accent-300);
	}

	& code::before,
	& code::after,
	& p::before,
	& p::after {
		display: none;
	}
}

@utility prose-invert {
	& kbd {
		color: var(--color-neutral-100);
		background-color: var(--color-neutral-800);
	}

	& code:not(pre code) {
		background-color: var(--color-neutral-800);
		border-color: var(--color-neutral-700);
	}
}
