.gist-container h1 {
	margin-bottom: calc(var(--spacing) * 4) !important;
}
.gist-container .gist-file {
	border: 1px solid var(--color-neutral-300);
	border-radius: 8px;
	overflow: hidden;
}
.gist-container .gist-meta {
	background-color: var(--color-neutral-100);
	color: var(--color-neutral-600);
	border-radius: 0 0 8px 8px;
}
.gist-container .gist-meta a {
	color: var(--color-brand-600);
}
.gist-container .highlight tr {
	border-bottom: none;
}
.gist-file .file {
	margin-top: 0;
	margin-bottom: 0;
}

/* Dark Mode */
html[data-theme='dark'] {
	.gist-container .gist-file {
		border-color: var(--color-neutral-800);
	}
	.gist-container .gist-data {
		background-color: var(--color-neutral-950);
		border-bottom: 1px solid var(--color-neutral-800);
	}
	.gist-container .gist-meta {
		background-color: var(--color-neutral-900);
		color: var(--color-neutral-400);
	}
	.gist-container .gist-meta a {
		color: var(--color-brand-400);
	}
	.gist-container .blob-wrapper {
		filter: invert(0.9) hue-rotate(180deg);
		background-color: #fff;
	}
	.gist .gist-data {
		background: var(--color-neutral-950);
		color: var(--color-neutral-100);
	}
}
