/* Docs */
.docs-layout--sticky-header .docs-sidebar-container {
	margin-top: calc(-1 * var(--header-height));
	clip-path: inset(0);
}

.docs-layout--sticky-header .docs-sidebar-logo {
	height: var(--header-height);
}

[data-section-list] {
	display: grid;
	grid-template-rows: 1fr;
	overflow: hidden;
	transition: grid-template-rows var(--dur-300) ease;
}
[data-section-list].is-collapsed {
	grid-template-rows: 0fr;
}
.docs-nav__sublist {
	min-height: 0;
	transition: visibility var(--dur-300) ease;
	visibility: visible;
}
[data-section-list].is-collapsed .docs-nav__sublist {
	visibility: hidden;
}

.docs-nav__link--active {
	background-color: var(--muted);
}

[data-section-trigger]:focus-visible,
.docs-nav__link:focus-visible,
.docs-toc a:focus-visible {
	outline-offset: -1px;
}
