{{- $level := .Level -}}
{{- $anchor := .Anchor | safeURL -}}
{{- $text := .Text | safeHTML -}}
<h{{ $level }} id="{{ $anchor }}"
	{{- range $k, $v := .Attributes -}}
		{{- if $k | in (slice `id`) -}}
			{{- continue -}}
		{{- end -}}
		{{- if $v -}}
			{{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
		{{- end -}}
	{{- end -}}>
	{{ $text }}
	<a class="heading-anchor" href="#{{ $anchor }}" aria-label="Permalink to '{{ $text | cast.ToString }}'"></a>
</h{{ $level }}>
{{- /**/ -}}
