{{- $title := or .Attributes.title "" -}}
{{- $lang := or .Type "text" -}}
{{- $class := or .Attributes.class "" -}}
<div data-code-wrapper
	{{- range $k, $v := .Attributes -}}
		{{- if $v -}}
			{{- if $k | in (slice `title`) -}}
				{{- continue -}}
			{{- end -}}
			{{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
		{{- end -}}
	{{- end -}}>
	{{- with $title -}}
		<div class="codeblock-title">{{ . }}</div>
	{{- end -}}
	{{- transform.Highlight .Inner $lang .Options -}}
</div>
{{- /**/ -}}
