{{- $level := .Level -}}
{{- $anchor := .Anchor | safeURL -}}
{{- $text := .Text | safeHTML -}}
<h{{ $level }} id="{{ $anchor }}"
	{{- range $k, $v := .Attributes -}}
		{{- if $k | in (slice `id`) -}}
			{{- continue -}}
		{{- end -}}
		{{- if $v -}}
			{{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
		{{- end -}}
	{{- end -}}>
	{{ $text }}
	<a class="heading-anchor" href="#{{ $anchor }}">
		<span class="sr-only select-none">
			{{- i18n "a11y.heading_link" | default "Permalink to this heading" -}}
		</span>
	</a>
</h{{ $level }}>
{{- /**/ -}}
