.float-media {
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	&.size-s {
		max-width: 100%;
		@media (width >= 48rem) {
			max-width: 20%;
		}
	}

	&.size-m {
		max-width: 100%;
		@media (width >= 48rem) {
			max-width: 35%;
		}
	}

	&.size-l {
		max-width: 100%;
		@media (width >= 48rem) {
			max-width: 45%;
		}
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.float-start,
.float-end {
	margin-inline: 0;
	max-width: 100%;
}

.float-start {
	float: inline-start;
	margin-inline-start: 0.15em;
	margin-inline-end: 1em;
}

.float-end {
	float: inline-end;
	margin-inline-start: 1em;
	margin-inline-end: 0.15em;
}

.float-content {
	width: 100%;
	overflow-wrap: break-word;
}

.float-content > *:first-child {
	margin-top: 0;
}

.float-content > *:last-child {
	margin-bottom: 0;
}
