/* margins for codeblock title */
.highlight-wrapper {
	@apply relative z-0 block overflow-hidden rounded-md shadow;
	margin-top: 1.7142857em;
	margin-bottom: 1.7142857em;
}

.highlight-wrapper pre,
.highlight-wrapper table,
.highlight-wrapper div {
	margin-top: 0;
	margin-bottom: 0;
}

.highlight-wrapper:has(.codeblock-title) pre {
	@apply rounded-none;
}

.codeblock-title {
	@apply border-b border-neutral-200 px-4 py-2 dark:border-neutral-800;
	@apply bg-white dark:bg-[#0d1117];
}

/* LineTableTD */
.chroma .lntd,
.chroma .lntd pre {
	@apply m-0 border-none p-0 align-top;
}

/* LineTable */
.chroma .lntable {
	@apply block w-auto overflow-hidden px-4 py-3 text-base;
	border-spacing: 0;
}

/* LineHighlight */
.chroma .hl {
	@apply -mx-4 block w-auto px-4;
}

.chroma .lntd .hl {
	@apply m-0 p-0;
}

/* linenos=inline */
.chroma:not(:is(table *)) > code {
	display: block;
	min-width: max-content;
}

/* Remove the error color because the lexer of chroma sucks */
.chroma .err {
	color: inherit !important;
	background-color: inherit !important;
}

/* Code Copy */
.highlight {
	@apply relative z-0;
}

.copy-button:focus,
.highlight:hover > .copy-button {
	@apply opacity-100;
}

.copy-button {
	@apply absolute top-2.5 right-3 z-20;
	@apply font-mono text-sm;
	@apply bg-white/90 text-neutral-500 opacity-0 transition-[opacity,color] duration-150 dark:bg-neutral-800/90;
	@apply cursor-pointer rounded px-2 py-1 shadow-sm select-none;
}

.copy-button:hover {
	@apply bg-white text-neutral-800 dark:bg-neutral-800 dark:text-neutral-200;
}

.copy-textarea {
	@apply pointer-events-none absolute opacity-0;
}
